.container{
    width:540px;
    overflow:auto;
}

.slider-inner{
    width:500px;
    height:400px;
    float:left;
}

.slider-inner img{
    display:none;
    width:500px;
    height:400px;
}

.slider-inner img.active{
    display:inline-block;
}

.prev, .next{
    cursor: pointer;
    z-index: 100;
    float:left;
}

.slider-outer{
    display: flex;
    flex-direction: row;
}